@import './../../../../styles/variables';

.search-bar{
    display: inline-flex;
    flex: 1 1 479px;
    overflow: hidden;
    input{
        border-right: 0;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border: 0.5px solid $grey;
        font: normal normal medium 14px/16px Work Sans;
        &::placeholder{
            color:$light-grey;
        }
    }
    button{
        width: 36px;
        border: 0.5px solid $grey;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background-color: $light-blue;
        &:hover{
            filter: brightness(1.2);
        }
        img{
            padding:8px;
            transform: scale(1.7);
        }

    }
}